
<h2>Profile Settings</h2>

<div class="container">
	<div class="image">
    </div>
	<div class="Option distance">
		<h3>Max. Distance</h3>
      <form (ngSubmit)="updateDistance(newDistance)">
        <label for="distance">Distance (in miles)</label>
        <input name="distance"  placeholder="Distance (in miles)" [(ngModel)]="newDistance">
        <input class="submit" type="submit" value="Enter">
      </form>
	</div>
	<button (click)="callsNextPage()"><h4>Start Swiping!</h4></button>
	<div class="Option logout">
		<h4>Logout</h4>
	</div>

